<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Organize and get easy access to your favorite creative resources. Upvote, comment and explore other designers favorite assets too.">
    <meta property="og:title" content="The best assets and resources for designers, by designers" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.creativeassets.io" />
    <meta property="og:description" content="Organize and get easy access to your favorite creative resources. Upvote, comment and explore other designers favorite assets too." />
    <meta property="og:site_name" content="Creative Assets" />
    <meta property="og:image" content="">
    <%= favicon_link_tag "app-icon.png", rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag "favicon.ico", rel: 'shortcut icon', type: 'image/png' %>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <title>Creative Assets</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'creative-assets' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body>

<div class="main-header-wrapper">
  <header class="container">
    <nav class="main-header row">
      <div class="col-xs-5 col-md-3">
        <a class="navbar-brand" href="#">
          <%= image_tag("logo.svg") %>
        </a>
      </div>
      <div class="col-xs-7 col-md-4 col-md-push-5">
        <% unless current_user %>
          <ul class="nav navbar-nav pull-xs-right sign-up-nav">
            <li class="nav-item">
              <a class="btn btn-default btn-sm" href="#" data-toggle="modal" data-target="#signup-modal">Sign up</a>

              <!-- Modal -->
              <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-modal-label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title" id="signup-modal-label">Sign up for a free account</h4>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="recipient-name" class="form-control-label">Email:</label>
                          <input type="text" class="form-control form-control-lg" id="recipient-name" placeholder="yourname@mail.com">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="form-control-label">Message:</label>
                          <textarea class="form-control" id="message-text"></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary-outline" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-secondary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", omniauth_authorize_path(:user, :facebook), class: "btn btn-primary-outline btn-sm" %>
            </li>
          </ul>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-5 col-md-pull-4 main-nav">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Latest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>

      <div class="pulse-animation">
        <div class="pulse-circle"></div>
        <div class="pulse-circle-2"></div>
        <div class="pulse-circle-3"></div>
        <a class="btn-add-asset-sm" href="" aria-label="Add an awesome asset." role="button" tabindex="-1"><i class="material-icons md-24">add</i></a>
      </div>
    </nav>
  </header>
</div>

<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Your assets</h1>
        <div class="lead">Your assets</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
